<!-- END Page Content -->

</div>
<!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
<script src="{$link_jquery}jquery-2.2.4.min.js"></script>
<script src="{$link_jquery}bootstrap.min.js"></script>
<script src="{$link_notify}notify.min.js"></script>
<script src="{$link_notify}jquery-confirm.js"></script>
<script src="{$link_js}plugins.js"></script>
<script src="{$link_js}app.js"></script>
<script src="{$link_js}appCustomized.js"></script>

<script src="{$link_js}uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

</body>

</html>
